<div class="callout callout-primary">
  <h4>Hey</h4>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name"  class="form-control" [value]="currentUser" (input)="currentUser = $event.target.value">
      <small id="nameHelp" class="form-text text-muted">Please, enter your name click the link below. If left empty, will navigate without name.</small>
    </div>
    <a class="btn btn-light" role="button" [routerLink]="['students', currentUser]">Students</a>
  </form>
</div>
<router-outlet></router-outlet>
